section.posts
    .posts__container
        //- .post 
        //-     .post__name 
        //-         p.post__first-name Jorick
        //-         p.post__last-name   Czhrasgzchovski
        //-     p.post__text i hate focking picky blinders i hate focking picky blinders
        
