@font-face {
    font-family: 'Etelka-regular';
    src: url('../../assets/fonts/EtelkaPro-Regular.woff2');
    src: url('../../assets/fonts/EtelkaPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Etelka-medium';
    src: url('../../assets/fonts/EtelkaPro-Medium.woff2');
    src: url('../../assets/fonts/EtelkaPro-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Etelka-light';
    src: url('../../assets/fonts/EtelkaPro-Light.woff2');
    src: url('../../assets/fonts/EtelkaPro-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}