section.profile
    .container 
        .profile__container 
            .profile__image
                img.profile__img(src='../../assets/images/quant-logo.png' alt="profile-picture")
            .profile__name 
                p.profile__first-name Живчик
                p.profile__last-name Красивый