section.input-section 
    .input-section__container
        p.input-section__title Ваше сообщение
        form.input-section__form
            .input-section__input-wrapper
                textarea.input-section__input Поделитесь своими мыслями
            button.input-section__submit-btn Отправить